# ML Model Deployment

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle

In [2]:
df=pd.read_excel('E:\DataRoadMap\week_14\hiring.xlsx')

In [3]:
df.head()

  experience  test_score  interview_score  salary
0        NaN         8.0                9   50000
1        NaN         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   experience       72 non-null     object
 1   test_score       84 non-null     float64
 2   interview_score  96 non-null     int64
 3   salary           96 non-null     int64
dtypes: float64(1), int64(2), object(1)
memory usage: 3.1+ KB

In [5]:
df['experience'].fillna(0,inplace=True)

In [6]:
df['test_score'].fillna(df['test_score'].mean(),inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   experience       96 non-null     object
 1   test_score       96 non-null     float64
 2   interview_score  96 non-null     int64
 3   salary           96 non-null     int64
dtypes: float64(1), int64(2), object(1)
memory usage: 3.1+ KB

In [8]:
x=df.iloc[:,:3]
y=df.iloc[:,-1]

In [9]:
x.head()

  experience  test_score  interview_score
0          0         8.0                9
1          0         8.0                6
2       five         6.0                7
3        two        10.0               10
4      seven         9.0                6

In [10]:
y.head()

0    50000
1    45000
2    60000
3    65000
4    70000
Name: salary, dtype: int64

In [11]:
x['experience'].value_counts()

experience
0         24
five      12
two       12
seven     12
three     12
ten       12
eleven    12
Name: count, dtype: int64

In [12]:
#Converting string to int
def conv_to_int(word):
    word_dict={'one':1,'two':2,'three':3,'four':4,'five':5,'six':6,'seven':7,'eight':8,'nine':9,'ten':10,
              'eleven':11,'twelve':12,'zero':0,0:0}
    return word_dict[word]

In [13]:
x['experience']=x['experience'].apply(lambda x : conv_to_int(x))

In [14]:
#splitting training and test set
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=101)

In [15]:
#Creating and Training the Model
from sklearn.linear_model import LinearRegression
lm=LinearRegression()

In [16]:
#Fitting model with training data 
lm.fit(x_train,y_train)

LinearRegression()

In [17]:
#test the model
predictions=lm.predict(x_test)

In [18]:
from sklearn import metrics

In [19]:
print('MAE:',metrics.mean_absolute_error(y_test,predictions))
print('MSE:',metrics.mean_squared_error(y_test,predictions))
print('RMSE:',np.sqrt(metrics.mean_squared_error(y_test,predictions)))

MAE: 2165.3395707998834
MSE: 8112909.576770613
RMSE: 2848.3169726648425

In [20]:
# Saving model to disk
pickle.dump(lm,open('E:\DataRoadMap\week_14\model.pkl','wb'))

In [21]:
# Loading model to compare the result
model= pickle.load(open('E:\DataRoadMap\week_14\model.pkl','rb'))
print(model.predict([[2,9,6]]))

[55538.20093301]

C:\Users\kaveh\pythonlab\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [26]:
from flask import Flask,request,render_template

In [29]:
app=Flask(__name__)

@app.route('/')
def home():
    return render_temolate('index.html')
@app.route('/predict',methods=['POST'])
def predict():
    ''' for rendering results on HTML GUI '''
    int_features = [int(x) for x in request.form.values()]
    final_features = [np.array(int_features)]
    predictions=model.predict(final_features)
    
    output=round(prediction[0],2)
    
    return render_template('index.html',prediction_text='Employee Salary should be $ {}'.format(output))

if __name__ == "__main__":
    app.run(debug=True)

 * Serving Flask app '__main__'
 * Debug mode: on

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
 * Restarting with stat

SystemExit: 1